* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

/* Navigation */
header {
  display: flex;
  width: 100%;
  height: 10vh;
  align-items: center;
  justify-content: space-around;
  background-color: lightgrey;
}

header a {
  text-decoration: none;
  color: white;
}

header a:hover {
  color: black;
}

nav ul li {
  display: inline;
  padding: 0 20px;
}

/* Main */
main {
  display: flex;
  align-items: center;
}

.main-content,
.main-image {
  width: 50%;
  padding: 5%;
}

/* About */
#about {
  display: flex;
  align-items: center;
  background-color: lightblue;
}

.about-content,
.about-image {
  width: 50%;
  padding: 5%;
}

/* Contact */
#contact {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5% 0;
}

#contact form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Footer */
footer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  background-color: lightgrey;
}

.footer-links {
  display: flex;
  justify-content: center;
}

.footer-info {
  padding: 0 10%;
}

.footer-links,
.footer-info {
  width: 50%;
}

/* Mobile Navigation */
@media only screen and (max-width: 600px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header ul li {
    padding: 0 5px;
  }
}
