.jumbotron {
  background-image: url("./img/lich.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  color: white;
  height: 60vh;
}

.second-jumbotron {
  background-image: url("./img/dihcaw5oi4w31.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  height: 60vh;
}
